{% extends "base.html" %}
{% block content %}
<div class="my-3">
    <div class="container">
        <h1 class="text-center mb-2">Our team:</h1>
        <div class="container">
            <div class="row justify-content-center">
                <!-- David Xuan -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/david_xuan.jpg">
                    <div class="mt-3">
                        <h3>David Xuan</h3>
                        <p><a href="mailto:davidope.xuan@gmail.com">davidope.xuan@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Sarah Hong -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/sarah_hong.jpg">
                    <div class="mt-3">
                        <h3>Sarah Hong</h3>
                        <p><a href="mailto:squishysquishymarshmello@gmail.com">squishysquishymarshmello@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Gina Gong -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/gina_gong.jpg">
                    <div class="mt-3">
                        <h3>Gina Gong</h3>
                        <p><a href="mailto:ginagong07@gmail.com">ginagong07@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Kewei Li -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/kewei_li.jpg">
                    <div class="mt-3">
                        <h3>Kewei Li</h3>
                        <p><a href="mailto:keweili2653@gmail.com">keweili2653@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Michael Zhu -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/michael_zhu.jpg">
                    <div class="mt-3">
                        <h3>Michael Zhu</h3>
                        <p><a href="mailto:michaelzhu2007@gmail.com">michaelzhu2007@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Helen Liu -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/helen_liu.jpg">
                    <div class="mt-3">
                        <h3>Helen Liu</h3>
                        <p><a href="mailto:liuhelen190@gmail.com">liuhelen190@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Brocolimanx (Lucas Wang) -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/lucas_wang.jpg">
                    <div class="mt-3">
                        <h3>Lucas Wang</h3>
                        <p><a href="mailto:lucaswang616@gmail.com">lucaswang616@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Eric Niu -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/eric_niu.jpg">
                    <div class="mt-3">
                        <h3>Eric Niu</h3>
                        <p><a href="mailto:ericniu0218@gmail.com">ericniu0218@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Zoey Crisan -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/zoey_crisan.jpg">
                    <div class="mt-3">
                        <h3>Zoey Crisan</h3>
                        <p><a href="mailto:ZoeyCrisan@gmail.com">ZoeyCrisan@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Joyce Jin -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/joyce_jin.jpg">
                    <div class="mt-3">
                        <h3>Joyce Jin</h3>
                        <p><a href="mailto:joycejin.cu@gmail.com">joycejin.cu@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Elin Ye -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/elin_ye.jpg">
                    <div class="mt-3">
                        <h3>Elin Ye</h3>
                        <p><a href="mailto:elin.ye.beibei@gmail.com">elin.ye.beibei@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Lijia -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/lijia.jpg">
                    <div class="mt-3">
                        <h3>Lijia</h3>
                        <p><a href="mailto:yuujiajia@gmail.com">yuujiajia@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Lexia Dai -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/lexia_dai.jpg">
                    <div class="mt-3">
                        <h3>Lexia Dai</h3>
                        <p><a href="mailto:lexiaDai123@gmail.com">lexiaDai123@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- Emily Ren -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/emily_ren.jpg">
                    <div class="mt-3">
                        <h3>Emily Ren</h3>
                        <p><a href="mailto:emilyrenxy@gmail.com">emilyrenxy@gmail.com</a></p>
                    </div>
                </div>
                <!-- Emily Ren -->
                <div class="card rounded-2 mx-2 text-center" style="width: 18rem;">
                    <img class="rounded-2 mt-3 mx-1" src="static/images/zixuan_yin.jpg">
                    <div class="mt-3">
                        <h3>Zixuan Yin</h3>
                        <p><a href="mailto:yinzixuansz@gmail.com">yinzixuansz@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}